body{
    background-color: black;
    color: lime;
}
h1{
    text-align: center;
    background-color: lime;
    color: black;
}
h2{
    text-align: center;
    background-color: lime;
    color: black;
}